@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");


* {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    max-width: 75%;
    margin: auto;
}

.wrapper > P,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
}

.accordion {
    background-color: #f1f7f5;
    color: rgba(0, 0, 0, 0.8);
    
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active,
.accordion:hover {
    background-color: #f1f7f5;
}

.panel {
    padding: 18px;
    background-color: white;
    /* display: none; */
    overflow: hidden;
    background-color: #f1f7f5;
    padding: 0 2rem 2.5rem 2rem;
}

.panel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid Orgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.faq.active {
    border: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items:normal;
    z-index: 9999;
    overflow: auto;
    

}

.popup-inner {
    position: relative;
    padding: 16px;
    width: 80%;
    max-width: 700px;
    background-color: #FFF;
    overflow: auto;

}

.popup-inner .close-btn {
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 16px;
    right: 16px;
}

/* Popup.css */
.date-picker {

    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;

    



  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(8px); /* Add the background blur effect */
    z-index: 9998;
  }

  